.messageWrapper {
  background-color: #2e1e47;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  